body{
    width: 100%;
    
}

   
.invoice{
    text-align: left;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 100px;
}
th{
    text-align:left;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    
}
.pirma_lentele
{
    width: 100%;
    border: 3px solid black;
}
.antra_lentele{
    width: 100%;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight:lighter;
    border: 3px solid black;
    
}
.underline{
    border-bottom: 2px;
}
.trecia_lentele{
    width: 100%;
    border: 3px solid black;
    
}
.melyna{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(109, 109, 227);
    color: white;
    border-collapse: collapse;
}
.logotipas {
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    height: 10%;
    width: 10%;
}
.zebras{
    tr:nth-child(even) {
        background-color: #f2f2f2;
      }
}