.invoice{
    text-align: left;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 80px;
    width: 100%;
}

th{
    text-align:left;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    
}
.pirma_lentele
{
    width: 100%;
    
}
.antra_lentele{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight:lighter;   
}
.melyna{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(109, 109, 227);
    color: white;
    
}
.trecia_lentele{
width: 100%;
padding-top: 100px;
tr:nth-child(even) {
        background-color: #f2f2f2;
      }  
}


.total{
    padding-top: 30px;
    padding: left 600px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: right;
    
}